<div class="container-fluid" style="height: 100%;">
    <div class="row " style="height: 100%;">
        <input id="username" name="user" value="<%= user%>" type="hidden" />
        <input id="roomname" name="room" value="<%= room%>" type="hidden" />
        <div class="col-xs-12 col-sm-12" style="height: 100%;">
            <div class="panel panel-primary chat">
                <div class="panel-heading chat-heading">
                    <h3 style="text-align: center"><%= user%>@<%= room%></h3>
                </div>
                <div class="panel-body chat-body">
                    <div class="chatArea">
                        <ul class="messages"></ul>
                    </div>
                </div>
                <div class="panel-footer chat-footer">
                    <div class="input-group" style ="position: absolute; bottom: 0; right: 0; left: 0">
                        <input type="text" class="form-control input-lg inputMessage" placeholder="Enter Message" />
                        <span class="input-group-btn">
                            <button id="send" class="btn btn-primary btn-lg" type="button">SEND</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


