<div class="container-fluid" style="height: 100%;">
    <div class="row " style="padding-top: 20px; height: 100%;">
        <input id="username" name="user" value="<%= user%>" type="hidden" />
        <input id="roomname" name="room" value="<%= room%>" type="hidden" />
        <div class="col-xs-12 col-sm-12" style="height: 100%;">
            <div class="page-header">
               <h3 style="text-align: center"><%= user%>@<%= room%></h3>
            </div>
            <div class="chatArea" style="background-color:white">
                <ul class="messages"></ul>
            </div>
            <div class="input-group" style="position: fixed; bottom: 0; clear: both; margin-right:10px">
                <input type="text" class="form-control input-lg inputMessage" placeholder="Enter Message" />
                <span class="input-group-btn">
                    <button id="send" class="btn btn-primary btn-lg" type="button">SEND</button>
                </span>
            </div>
        </div>
    </div>
</div>


