/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Panel */

.chat {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.chat-heading {
   top: 0;
   height: 5%; 
}

.chat-body {
   top: 5%;
   bottom: 10%;
   height: 85%;
}

.chat-footer {
   bottom: 0;
   height: 10%; 
}
/* Messages */

.chatArea {
  display: block;
  height: 100%;
  overflow: auto;
  clear: both;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
    padding-left: 10px;
    clear: both;
}
