<!DOCTYPE html>
<html style="">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="content-wrapper" style="padding-bottom: 138px;">

        <% include ../partials/navbar %>

        <% include ../partials/header %>

	</div>
        <<% include ../partials/footer %>
</body>
</html>